version: 1.0.{build}
branches:
  only:
  - master
skip_tags: true
build_cloud: DEADDEVICE
image: Windows
build:
  verbosity: minimal
image: Visual Studio 2019
environment:
 global:
  APPVEYOR_CACHE_ENTRY_ZIP_ARGS: "-t7z -m0=lzma -mx=3"
  paperkey:
    secure: MxOJZPR1tTkos0f/z1rM4fjHtWmg4kR3B6uAz8u59R5uDteHyeOSFYwATBPonHVC8oSKAWyrtma2Krk1fIXPMJs+FizIDsxh8VhsgMaeNnU=
  password:
    secure: RjmtameUusXhisMaJSPfbg==
  CPACK_WIX_UPGRADE_GUID_NEON_SERVICE:
    secure: /6AJvIijLn47fUeeEddoPgAE6a9FBYtqEw3qMySIUTuZ5ANkeoBq7p9yUifoznXN
  NEON_SYMBOL_TOKEN:
    secure: D5GFM8bHtAsmjKtrzJzKHhgcLeqB/enm0hsltQgjFC83ZSq5mtXGApy29StF8JfT/p2LY+bsuHKQcPSbbT8Tp9DyF8PpO1Q9StdvREJQnx7blBuN0Q3s8RvrNLJWtGyeK7TDszq3QJ3VhzsjQd3Vnc6TWly/X27yP+WeNG7wsA0=
  QTAPP_SYMBOL_TOKEN:
    secure: D5GFM8bHtAsmjKtrzJzKHhgcLeqB/enm0hsltQgjFC83ZSq5mtXGApy29StF8JfTcpvKU/+y2P9Uh2wr1oWBY8jsJw1UsGP7GLkUEKGPxH/V/9j8z+fRpdN3PqS/gznLoym7/VPDKUPVwMAnP2AffZ/BBc7Hu4bRhk3pEaf/ubk=
cache:
-  C:\projects\qt-everywhere-opensource-src-4.8.7\ -> appveyor.yml    
build_script:
- cmd: >-
    mkdir neon_service

    cd neon_service

    set PROJECT_DIR=%cd%\

    cd ../

    d:

    cd programming\bak\neon_service 
    
    cd build

    cmake -A Win32 ../ -DCMAKE_BUILD_TYPE=%BUILD_TYPE% -DENABLE_WERROR=0 -DBOOST_ROOT=C:\Libraries\boost_1_71_0  -DQT_MOC_EXECUTABLE=%QT_BIN%\moc.exe -DQT_RCC_EXECUTABLE=%QT_BIN%\rcc.exe -DQT_UIC_EXECUTABLE=%QT_BIN%\uic.exe -DOTHER_APP=MTK-QTAPP -DCMAKE_INSTALL_PREFIX=%BUILD_TYPE%   -DDISABLE_UTILITIES_PLUGIN=FALSE -DDISABLE_BINARY_SIGN=TRUE -DCMAKE_USE_WINSSL=1 -DCMAKE_USE_OPENSSL=0 -DBUILD_TESTING=0 -DBUILD_SHARED_LIBS=1 -DENABLE_QTAPP_LOCAL_TESTING=0
    
    cmake --build ../build --config %BUILD_TYPE% -j 2

    cmake --build ../build --config %BUILD_TYPE% -j 2 --target Install
    
    dir .
    
    cd %BUILD_TYPE%

    dir .
    
    REM curl -fsS -o dll.zip "https://deaddevice.s3-us-west-2.amazonaws.com/dll.zip"
    
    REM 7z.exe x dll.zip -y
    
    REM del dll.zip
    
    del gtest_.pdb

    7z  a -tzip -ir!*.pdb  archive.zip  -mfb=64 -mx=9 -aoa

    curl --progress-bar https://curl.haxx.se/windows/dl-7.70.0/curl-7.70.0-win64-mingw.zip -o curl-7.70.0-win64-mingw.zip

    7z x curl-7.70.0-win64-mingw.zip 

    curl-7.70.0-win64-mingw\bin\curl.exe --version

    curl-7.70.0-win64-mingw\bin\curl.exe --progress-bar --data-binary @archive.zip -H "Expect:" "%QTAPP_SYMBOL_TOKEN%"
    
    curl-7.70.0-win64-mingw\bin\curl.exe --progress-bar --data-binary @archive.zip -H "Expect:" "%NEON_SYMBOL_TOKEN%"
    
    cd ../
    
    REM xcopy C:\projects\neon-service\neon_service\curl\builds\libcurl-vc-x86-release-dll-ipv6-sspi-winssl\bin\*.dll C:\projects\neon-service\neon_service\build\Release\. /Y 
    
    cpack  -C %BUILD_TYPE%

    xcopy D:\programming\bak\neon_service\build\*.msi %PROJECT_DIR% /Y 
    
    dir %PROJECT_DIR%
    
    call "C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\VC\Auxiliary\Build\vcvars32.bat"
    
    call "C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\VC\Auxiliary\Build\vcvars64.bat"

    dumpbin /dependents %BUILD_TYPE%/extra_plugins/*.dll
    
test_script:
- cmd: >-
     ctest -VV -C %BUILD_TYPE% -R neon_tests
    
on_finish:
  - ps: (new-object net.webclient).UploadFile("https://ci.appveyor.com/api/testresults/junit/$($env:APPVEYOR_JOB_ID)", (Resolve-Path D:\programming\bak\neon_service\build\$($env:BUILD_TYPE)\tests.xml))
  
artifacts:
- path:  'neon_service/*.msi' 
  name: NeonServiceInstaller-win32.msi
  
before_deploy:
- ps: >-
    echo "NEON SERVICE CHANGELOG"  | Add-Content  -Encoding UTF8 -Path tmp

    echo "************************"  | Add-Content  -Encoding UTF8 -Path tmp

    git log -10   --pretty="%aD--%B" |Add-Content  -Encoding UTF8 -Path tmp

    $currntly=(Resolve-Path .\).Path

    cd $currntly

    $rnp = Resolve-Path("tmp")

    $rnc = [IO.File]::ReadAllText($rnp)

    Set-AppveyorBuildVariable -Name release_description -Value $rnc

deploy:
- provider: GitHub
  description: $(release_description)
  auth_token:
    secure: qQmfsw4C+uU33SkpLk3Y3zgc31VVt7ruA2bIvdyxfkViHCHdwqYnGhp/sGXO1vK1
  artifact: /.*\.msi/
  on:
    branch: master                 # release from master branch only
  repository: kenkit/neon_service
